#!/bin/zsh
# sourced at boot by ~/.xinitrc and most display managers

# for nicer setup I move ZSH files into:
#export ZDOTDIR="$HOME/.config/zsh"

XDG_CONFIG_HOME="$HOME/.config"
export XDG_CONFIG_HOME
XDG_DATA_HOME="$HOME/.local/share"
export XDG_DATA_HOME

[ "$PATH" == *"$HOME/bin"* ] || PATH="$HOME/bin:$PATH"
# Add all sub-directories in PATH
add_sub_dir_in="$HOME/.local/bin"
if [[ "$PATH" != *"$add_sub_dir_in"* ]]
  then
    add_to_path=$add_sub_dir_in
    for d in $(ls -d $add_sub_dir_in**/*(/)); do add_to_path="$add_to_path:$d"; done
    export PATH=$PATH:$add_to_path
fi
#[ "$PATH" == *"$HOME/.local/bin"* ] || PATH="$HOME/.local/bin:$PATH"
# Add all sub-directories in PATH
#add_sub_dir_in="$HOME/.local/bin"
#if [[ "$PATH" != *"$add_sub_dir_in"* ]]
#  then
#    add_to_path=$add_sub_dir_in
#    for d in $(ls -d $add_sub_dir_in**/*(/)); do add_to_path="$add_to_path:$d"; done
#    #echo $add_to_path
#    PATH=$add_to_path:$PATH
#fi

#compton -b &
picom --backend xrender -b
#feh --randomize --bg-fill ~/Pictures/wallpapers/{*,ArchLabsLinux*.png}
feh --bg-fill ~/Pictures/wallpapers/ArchLabsLinux7.png

# set dual monitor = home settup
# add new mode
#xrandr --newmode "1920x1080_home"  173.00  1920 2048 2248 2576  1080 1083 1088 1120 -hsync +vsync
#xrandr --addmode DP1 1920x1080_home
[ -n '$(xrandr | grep "^DP1 connected")' ] && xrandr --output DP1 --mode 1920x1080 --pos 1920x0
# remap/switch caps and ecape
#setxkbmap -option caps:escape

#remap tipko [dz] - "/"
#xmodmap -e "keycode 35 = slash"

[ -r $HOME/.config/X11/.Xmodmap ] && xmodmap $HOME/.config/X11/.Xmodmap
xset dpms 600 900 1200
xset r rate 250 70
sxhkd &
